h1 {
  font-family: "Srisakdi", cursive;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-family: "Srisakdi", cursive;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

li {
  list-style: none;
  text-align: left;
}

.container {
  font-family: "Srisakdi", cursive;
  color: #9e3668;
}

.weather-wrapper {
  background: #fde3f0;
  border: #9e3668;
  border-radius: 10px;
}

#current-temp,
#current-specs {
  font-size: 20px;
}

.current-temp img {
  position: relative;
  top: -10px;
  right: 7px;
  height: 70px;
}

.current-temp strong {
  font-size: 36px;
}

#current-description {
  margin-left: 50px;
  text-transform: capitalize;
}

.current-temp .units {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -13px;
}

.current-temp .active {
  color: #9e3668;
  cursor: default;
  text-decoration: none;
}

.current-temp .active:hover {
  text-decoration: none;
}

.search {
  text-align: center;
  padding-top: 20px;
}

input[type="submit"] {
  background: #f6a9ce;
  border: 1 px;
  border-radius: 4px;
  margin: 5px;
}

button {
  background: #f6a9ce;
  border: 1 px;
  border-radius: 4px;
  margin: 5px;
}

.forecast {
  font-size: 18px;
  margin-bottom: 20px;
}

.forecast .day {
  font-size: 22px;
  font-weight: bold;
}

.forcast .high {
  font-weight: bold;
}

a {
  color: #f6a9ce;
  text-align: center;
}

.GitHub-link {
  color: #f6a9ce;
  margin-top: 20px 0;
  text-align: center;
}
